<div class="jumbotron">
    <h1>SmartAPI</h1>
    <p class="lead">Created by Sphera Security's development team at january, 2018, this application uses Microsoft's ASP.NET to provide an easy way to integrate data between Sphera Secutiry and Unisolution.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><i class="im im-certificate-o"></i>&nbsp;About SmartAPI</h2>
        <p>
            SmartAPI is a pre defined API that can be used by Unisolution's applications to query Sphera managed data.
            SmartAPI Web API is the ideal API for all other applications that needs Sphera's managed data.
        </p>
    </div>
    <div class="col-md-4">
        <h2><i class="im im-laptop-o"></i>&nbsp;Get more</h2>
        <p>We are constantly developing. Web Services are fast, flexible and reliable, and also don't requires any specific development languages or enhanced knowledge to be part of you development.</p>
    </div>
    <div class="col-md-4">
        <h2><i class="im im-wifi"></i>&nbsp;Web Hosting</h2>
        <p>In order to produce the spected results with less error chances, this application must be hosted at Internet Information Services root (intranet). Be sure this roles are complied</p>
    </div>
</div>
